ul
  padding: 0
  list-style: none

.navbar, .btn-group-justified-custom
  border-radius: 0

.noresize
  resize: none

.dropzone
  border: 1px gray dashed
  height: 16em

.thumbnail
  margin: auto
  display: block
  max-width: 10em
  max-height: 10em
  width: auto
  height: auto
  border: none

.img
  margin: auto
  display: block
  height: auto
  width: auto
  max-width: 30em
  max-height: 15em
  border: none

.slides
  height: 70vh
  overflow: scroll

.slide
  .panel-body
    height: 15em
    overflow: hidden
    text-overflow: ellipsis
  &:hover
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
    cursor: pointer
.contents
  height: 74vh
  overflow-y: scroll

.content
  .panel-body
    height: 12em
  &:hover
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)

.presentation
  height: calc(90vh - 50px)
  background: #333

  nav
    position: absolute
    bottom: 0
    width: 100%
    padding: 1em
    .container
      width: auto
      margin: 0 auto

      .row .btn-group
        margin: auto
