**/.classpath
**/.project
**/.settings
**/build/*
**/.metadata

**/.gradle
**/.idea
build.gradle
settings.gradle
*.iml
*.ipr
*.iws
node_modules
.DS_Store
contentServer/uploads/*
contentServer/public/dist/*
npm-debug.log
