aside(class="col-xs-12 col-sm-4")
  .panel(class="panel-default")
    .panel-heading
      h3.panel-title 
        span.text-muted Presentations
    .panel-body
      p(ng-hide="presentations")
        span.text-warning No presentation available
      ul
        li(ng-repeat="(id, presentation) in presentations") 
          p {{presentation.title}} &mdash; 
            span.text-muted {{presentation.description}}
            span(class="pull-right")
              a(ng-href='/admin/#/edit/{{presentation.id}}') 
                span.glyphicon(class="glyphicon-edit")
              a(ng-href='/admin/#/play/{{presentation.id}}') 
                span.glyphicon(class="glyphicon-play") 
              a(ng-href='/admin/#/play/{{presentation.id}}') 
                span.glyphicon(class="glyphicon-remove") 

            
section(class="col-xs-12 col-sm-8 ")
  .panel(class="panel-default")
    .panel-heading
      h3.panel-title
        span.text-muted Create a new presentation &nbsp;
        span.text-info {{presentation.title}}    
    .panel-body
      form#new-slide(role="form", ng-submit="create(title, description)")
        .form-group
          label(for="presentation-title") Title
          input.form-control#presentation-title(type="text", name="presentation-title", placeholder="type a title", ng-model="title")
        .form-group
          label(for="presentation-description") Description
          input.form-control#presentation-description(type="text", name="presentation-description", placeholder="type a description", ng-model="description")
        input.btn(type="submit", class="btn-block btn-primary")    
