html(lang="en", ng-app="adminApp")
  // Head
  include ../includes/head
  
  body
    // Nav
    include ../includes/nav
    
    main.container-fluid(ng-view)
      
    include ../includes/foot

    
