html(lang="en", ng-app="adminApp")
  // Head
  include ../includes/head
  
  body
      
    include ../includes/header    
        
    main.container-fluid(ng-view)
      
    include ../includes/foot

    
