section.presentation(class="col-xs-offset-3 col-xs-6")

  main.row
    .panel(class="panel-default")
      .panel-heading
        h3.panel-title {{slide.title}}
      .panel-body 
        p {{slide.text}}
        img.img(ng-src="/uploads/{{slide.content.fileName}}" alt="{{slide.content.title}}")
            
  nav.row
    .container
      .row
//        .btn-group(role="group", aria-label="player buttons")
//          button.btn(type="button", class="btn-default", ng-click="play()") 
//            span.glyphicon(class="glyphicon-play")    
//          button.btn(type="button", class="btn-default", ng-click="previous()")
//            span.glyphicon(class="glyphicon-chevron-left")
//          button.btn(type="button", class="btn-default", ng-click="next()") 
//            span.glyphicon(class="glyphicon-chevron-right")
//          button.btn(type="button", class="btn-default", ng-click="stop()")
//            span.glyphicon(class="glyphicon-stop")
//
