html(lang="en", ng-app="adminApp", ng-controller="eventController")

head
  title Admin App
  link(rel="stylesheet", href="libs/css/bootstrap.min.css")
  link(rel="stylesheet", href="libs/css/screen.css")

  
body
  nav.navbar(class="navbar-default")
    .container-fluid
      .btn-group
        button.navbar-btn(class="btn btn-default", type="button", ng-click="save()") Save
        button.navbar-btn(class="btn btn-default", type="button", ng-click="edit()") Edit
        button.navbar-btn(class="btn btn-default", type="button", ng-click="add()") Add
        button.navbar-btn(class="btn btn-default", type="button", ng-click="remove()") Remove
        
  main.container-fluid(ng-view)
    
  script(src="libs/js/jquery.min.js")
  script(src="libs/js/bootstrap.min.js")
  script(src="libs/js/angular.min.js")
  script(src="libs/js/angular-route.min.js")


  // App 
  script(src="js/application/AdminApp.js")  
  
  script(src="js/services/ContentFactory.js")
  script(src="js/services/PresentationFactory.js")
  script(src="js/services/SlideFactory.js")

  script(src="js/services/AuthService.js")
  script(src="js/services/UtilsService.js")

  script(src="js/controllers/EventController.js")
  
  script(src="js/application/AdminRoutes.js")
  
