//Vendors  
script(src="vendors/jquery.js")
script(src="vendors/bootstrap.js")
script(src="vendors/angular.js")
script(src="vendors/angular-route.js")
script(src="vendors/ngDraggable.js")


//TODO download io
//script(src="https://cdn.socket.io/socket.io-1.2.0.js")
//
//
//// App 
//script(src="scripts/applications/admin.application.js")
//script(src="scripts/applications/watcher.application.js") 
//script(src="scripts/applications/login.application.js")
//
//// Directives
//script(src='scripts/directives/file.directive.js')
//
//// Factories
//script(src="scripts/factories/factories.js")
//
//// Services 
//script(src="scripts/services/auth.service.js")
//script(src="scripts/services/utils.service.js")
//script(src="scripts/services/network.service.js")
//// Controllers
//script(src="scripts/controllers/login.controller.js")
//script(src="scripts/controllers/events.controller.js")
//script(src="scripts/controllers/player.controller.js")
//script(src="scripts/controllers/slide.controller.js")
////script(src="scripts/controllers/watcher.controller.js")
//
//// Routes
//script(src="scripts/routes/admin.routes.js")
