html(lang="en")
  include ../includes/head

  body#watcher
    .container-fluid
      main(class="col-xs-12")
        .row#flash
          .well        
            p Sorry there is no presentation currently running&hellip;
        .row#slide
          .panel(class="panel-default")
            .panel-heading
              h3.panel-title#slide-title
            .panel-body 
              p#slide-text
              img.img#slide-content(src="" alt="content")
  //Vendors  

  script(src="https://cdn.socket.io/socket.io-1.2.0.js")
  script(src="vendors/jquery.js")
  script(src="vendors/bootstrap.js")
  
  script(src="scripts/applications/watcher.application.js")
